<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <div class="text-muted text-end">
        Дополнительный <span class="display-6">text</span>
    </div>

    <hr>

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <br>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    <br>
    <button class="btn btn-light">Light</button>
    <button class="btn btn-dark">Dark</button>
    <button class="btn btn-link">Link</button>

    <hr>

    <p class="text-primary">Primary-Text</p>
    <p class="text-secondary">Secondary-Text</p>
    <p class="text-success">Success-Text</p>
    <br>
    <p class="text-danger">Danger-Text</p>
    <p class="text-warning">Warning-Text</p>
    <p class="text-info">Info-Text</p>
    <br>
    <p class="text-light">Light-Text</p>
    <p class="text-dark">Dark-Text</p>

    <hr>

    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-success">Success</button>
    <br>
    <button class="btn btn-outline-danger">Danger</button>
    <button class="btn btn-outline-warning">Warning</button>
    <button class="btn btn-outline-info">Info</button>
    <br>
    <button class="btn btn-outline-light">Light</button>
    <button class="btn btn-outline-dark">Dark</button>

    <hr>


    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-lg">Добавить</button>
            <button class="btn btn-outline-secondary">Редактировать</button>
            <button class="btn btn-outline-danger btn-sm">Удалить</button>
        </div>
    </div>

    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This content
        </div>
    </div>

</main>