{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<div class="col-12 pt-5">
    <div class="row">
        <h2>{{header}}</h2>
        <div class="col-6">
            <p class="mt-2 pe-5">{{text}}</p>
        </div>
        <div class="col-12">
            {{#each buttons}}
            <div class="col-2 pt-2">
                <a href={{link}} class="btn btn-primary col-12">{{text}}</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}